body {
font-family: Roboto Mono;
font-size: 40px;
background-color: rgb(202, 182, 205);
text-align: center;
}

#text {
  font-size:20px;
}

img {
 max-width: 600px;
 max-height: 600px;
}

.container {
  display:flex;
  flex-grow: 2;
  justify-content: center;
  align-content: center;
}

.item {

}